/* CSS variables */
:root {

    /* Fonts */
    --standard-font: "Arial", sans-serif;
    --mono-font: "Consolas", "Courier New", monospace;
}

/* Body styling */
html, body {
    font-family: var(--standard-font);
    line-height: 1.4;
}

#page-content {
    margin: 10px;
    padding: 10px;
}