/* CSS variables */
:root {

    /* Fonts */
    --mono-font: "Consolas", "Courier New", monospace;
    --standard-font: "Roboto", sans-serif;
    --accent-font: "Arial", "Times New Roman", serif;

}

html, body {
    font-family: var(--standard-font);
    line-height: 1.4;
}

a {
    padding: 3px;
    border-radius: 3px;
    color: var(--link-accent);
    font-family: var(--accent-font);
}

a:hover {
    color: var(--bg-color);
    background-color: var(--link-accent);
}

code {
    font-family: var(--mono-font);
    background-color: var(--code-bg-color);
    margin: 2.0;
    color: black;
}


/*
*   Input
*/
#input-container {
    display: none;
    text-align: center;
}

.modal-content {
    margin-top: 50px;
}